/* screen - custom-size-1 */

.custom-size-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 5000px;
  overflow: hidden;
  padding: 90px 0;
  width: 1500px;
}

.custom-size-1 .overlap-group1 {
  height: 184px;
  left: 216px;
  position: absolute;
  top: 1272px;
  width: 253px;
}

.custom-size-1 .overlap-group2 {
  height: 184px;
  left: 216px;
  position: absolute;
  top: 1484px;
  width: 253px;
}
